*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container{

}

.input-catalog-form{

}

.form-section{

}

.form-group{

}

.form-group-title{

}

.form-label{

}

.form-input{

}

.form-select{

}

.form-check{

}

.form-controls{

}

.form-button{

}

.submit-button{

}

.reset-button{

}

.action-button{
    
}